body {
    overflow: hidden;
    background-color: whitesmoke;
}

#content {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#eightydiv {
    background-color: rgb(245, 207, 84);
    border: transparent;
    width: 80%;
    padding-bottom: 10%;
    border-radius: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#title {
    width: 60%;
    text-align: center;
    padding: 25px 0 35px 0;
    font-size: 40px;

}

#secnd {
    width: 40%;
    text-align: center;
    padding: 20px;
    border: 6px solid rgb(192, 147, 0);
    font-size: 20px;
    clip-path: polygon( 0 21%, 11% 0, 89% 0, 100% 21%, 100% 79%, 89% 100%, 11% 100%, 0 79%);
}

#third {
    width: 20%;
    text-align: center;
    padding: 20px;
    border: 6px solid rgb(192, 147, 0);
    font-size: 15px;
    font-weight: 900;
    margin-top: 40px;
    clip-path: polygon( 0 21%, 11% 0, 89% 0, 100% 21%, 100% 79%, 89% 100%, 11% 100%, 0 79%);
}



